<div id="list_bulk_discounts">
<h3> Bulk Discounts </h3>
  <%@merchants_discounts.each do |discount|%>
  <div id="bulk_discount_number<%=discount.id%>">  
    <p><%="Quantity Threshold: #{discount.quantity_threshold}, Percent Discount: #{discount.percentage_discount}"%> <%=link_to "Link", "merchant/#{@merchant.id}/bulk_discounts/#{discount.id}"%> </p>
  <%end%>
  </div>
</div>